.polotno-side-panel-tab{
    color: white!important;
}

.polotno-side-tabs-container{
    background: #c2410c;
}

.polotno-panel-container{
    background: #535456!important;
    color: white;
}

/* .go2385261168 {
    background: #c2410c!important;
    color: white!important;
    
} */